# --- R Specific Files ---
.Rhistory
.Rapp.history
.RData
.RDataTmp
.Ruserdata
.Rproj.user/
.Renviron
*-Ex.R

# --- Build and Check Outputs ---
/*.tar.gz
/*.Rcheck/
vignettes/*.html
vignettes/*.pdf
docs/

# --- Environment & Credentials ---
.httr-oauth
.DS_Store

# --- Jupyter Notebook Specific ---
.ipynb_checkpoints/
*/.ipynb_checkpoints/

# --- Data Management (The most important part) ---
# We want the 'data' folder to exist on GitHub but remain empty
data/*

# Do not ignore the .gitkeep file so GitHub tracks the folder
!data/.gitkeep

# Ignore any potential temp files or cache
*_cache/
/cache/
*.utf8.md
*.knit.md

# --- OS Specific ---
Thumbs.db
data/
